.root,
.empty {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: #000;
}

.root {
  cursor: pointer;
}

.empty {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
